<style>
.buttonwraper{
	float: right;
}
.location{
	margin-top:10px;
	color:#AAB1B7;
	font-size: 14px;
}
</style>

<meta charset="utf-8">

<!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>커뮤니티</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->

    <!-- job_listing_area_start  -->
    <div class="job_listing_area plus_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="job_filter white-bg">
                        <div class="form_inner white-bg">
                            <h3>Filter</h3>
                            <form action="#">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="single_field">
                                            <input type="text" placeholder="Search keyword">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="single_field">
                                            <select class="wide">
                                                <option data-display="Location">Location</option>
                                                <option value="1">Rangpur</option>
                                                <option value="2">Dhaka </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="single_field">
                                            <select class="wide">
                                                <option data-display="Category">Category</option>
                                                <option value="1">Category 1</option>
                                                <option value="2">Category 2 </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="single_field">
                                            <select class="wide">
                                                <option data-display="Experience">Experience</option>
                                                <option value="1">Experience 1</option>
                                                <option value="2">Experience 2 </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="single_field">
                                            <select class="wide">
                                                <option data-display="Job type">Job type</option>
                                                <option value="1">full time 1</option>
                                                <option value="2">part time 2 </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="single_field">
                                            <select class="wide">
                                                <option data-display="Qualification">Qualification</option>
                                                <option value="1">Qualification 1</option>
                                                <option value="2">Qualification 2</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="single_field">
                                            <select class="wide">
                                                <option data-display="Gender">Gender</option>
                                                <option value="1">male</option>
                                                <option value="2">female</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                       
                        <div class="reset_btn">
                            <button  class="boxed-btn3 w-100" type="submit">Reset</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="recent_joblist_wrap">
                        <div class="recent_joblist white-bg ">
                            <div class="row align-items-center">
                                <div class="col-md-6">
                                    <h4>글 목록(전체글 개수 띄워도 될듯)</h4>
                                </div>
                                <div class="col-md-6">
                                    <div class="serch_cat d-flex justify-content-end">
                                        <select>
                                            <option data-display="Most Recent">Most Recent</option>
                                            <option value="1">Marketer</option>
                                            <option value="2">Wordpress </option>
                                            <option value="4">Designer</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="job_lists m-0">
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                            
                            <!-- 공지 -->
                            <div class="single_jobs white-bg d-flex justify-content-between" id="admin" th:each="c:${communityadminlist}">
                                    <div class="jobs_left d-flex align-items-center">
                                        <div class="thumb">
                                            <p style="color:red;"><i class="fa fa-exclamation-triangle fa-lg"></i></p>
                                        </div>
                                        <div class="jobs_conetent">
                                            <a th:href="@{cm_details(pid=${c.pid})}" th:text="${c.title}" style="color:red;"><h4>Title</h4></a>
                                        </div>
                                    </div>
                                    <div class="jobs_right">
                                        <div class="date">
                                            <p th:text="${#dates.format(c.regdate,'yyyy/MM/dd HH:mm:ss')}"></p>
                                        </div>
                                    </div>
                                </div>
                                
                                 <!-- 일반글 -->
                                <div class="single_jobs white-bg d-flex justify-content-between" id="user" th:each="o:${communityuserlist}">
                                    <div class="jobs_left d-flex align-items-center">
                                        <div class="thumb">
                                            <p th:text="${o.pid}"> number</p>
                                        </div>
                                        <div class="jobs_conetent">
                                            <a th:href="@{cm_details(pid=${o.pid},statid=${o.statid})}" th:text="${o.title}"><h4>Title</h4></a>
                                            <div class="links_locat d-flex align-items-center">
                                                <div class="location">
                                                    <i class="fa fa-user-o"></i><span th:text="' '+${o.uid}"> Uid</span>
                                                </div>
                                                <div class="location">
                                                    <i class="fa fa-map-marker"></i><span th:text="' '+${o.location}+' '+${o.statNm}"> California, USA</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="jobs_right">
                                        <div class="date">
                                            <p th:text="${#dates.format(o.regdate,'yyyy/MM/dd HH:mm:ss')}"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="pagination_wrap">
                                    <ul>
                                        <li><a href="#"> <i class="ti-angle-left"></i> </a></li>
                                        <li><a href="#"><span>01</span></a></li>
                                        <li><a href="#"><span>02</span></a></li>
                                        <li><a href="#"> <i class="ti-angle-right"></i> </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="buttonwraper">
                                    <a class="boxed-btn3" th:href="@{/cmadd}">글작성</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- job_listing_area_end  -->