<style>
.buttonwraper{
	float: right;
}
.location{
	margin-top:10px;
	color:#AAB1B7;
	font-size: 14px;
	
}
.active a{
  background-color: #00D363;
  color: white !important;
}
</style>
<script>
$(document).ready(function(){
	$('#searchbutton').click(function(){
		var type=$('#searchtype option:selected').val();
		console.log(type);
		var keyword=$('#searchkeyword').val();
		console.log(keyword);
		$('#searchbutton').attr({
	    	'href' : 'cm?page=1&perPageNum=10&searchtype='+type+'&searchkeyword='+keyword
	    });
	});
});


</script>
<meta charset="utf-8">

<!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>커뮤니티</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->

    <!-- job_listing_area_start  -->
    <div class="job_listing_area plus_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="job_lists m-0">
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                            
                            <!-- 공지 -->
                            <div class="single_jobs white-bg d-flex justify-content-between" id="admin" th:each="c:${communityadminlist}">
                                    <div class="jobs_left d-flex align-items-center">
                                        <div class="thumb">
                                            <p style="color:red;"><i class="fa fa-exclamation-triangle fa-lg"></i></p>
                                        </div>
                                        <div class="jobs_conetent">
                                            <a th:href="@{cm_details(pid=${c.pid})}" th:text="${c.title}" style="color:red;"><h4>Title</h4></a>
                                        </div>
                                    </div>
                                    <div class="jobs_right">
                                        <div class="date">
                                            <p th:text="${#dates.format(c.regdate,'yyyy/MM/dd HH:mm:ss')}"></p>
                                        </div>
                                    </div>
                                </div>
                                
                                 <!-- 일반글 -->
                                <div class="single_jobs white-bg d-flex justify-content-between" id="user" th:each="o:${communityuserlist}">
                                    <div class="jobs_left d-flex align-items-center">
                                        <div class="thumb">
                                            <p th:text="${o.pid}"> number</p>
                                        </div>
                                        <div class="jobs_conetent">
                                            <a th:href="@{cm_details(pid=${o.pid},statid=${o.statid})}" th:text="${o.title}"><h4>Title</h4></a>
                                            <div class="links_locat d-flex align-items-center">
                                                <div class="location">
                                                    <i class="fa fa-user-o"></i><span th:text="' '+${o.uid}"> Uid</span>
                                                </div>
                                                <div class="location" th:if="${o.location}!=null">
                                                    <i class="fa fa-map-marker"></i><span th:text="' '+${o.location}+' '+${o.statNm}"> California, USA</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="jobs_right">
                                        <div class="date">
                                            <p th:text="${#dates.format(o.regdate,'yyyy/MM/dd HH:mm:ss')}"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="pagination_wrap">
                                    <ul>
                                        <li th:if="${pageMaker.prev}=='true'"><a th:href="@{cm(page=${pageMaker.startPage-1},perPageNum=10)}"> <i class="ti-angle-left"></i> </a></li>
                                        <li th:each="n:${#numbers.sequence(pageMaker.startPage,pageMaker.endPage)}" class="pageInfo_btn" th:classappend="${pageMaker.sf.page} == ${n} ? 'active':''"><a th:href="@{cm(page=${n},perPageNum=10)}"><span th:text="${n}">01</span></a></li>
                                        <li th:if="${pageMaker.next}=='true'"><a th:href="@{cm(page=${pageMaker.endPage + 1 },perPageNum=10)}"> <i class="ti-angle-right"></i> </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="job_filter">
	                        <div class="row">
	                            <div class="col-lg-12">
	                                <div class="buttonwraper">
	                                    <a class="boxed-btn3" th:href="@{/cmadd}">글작성</a>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="row">
	                        	<div class="col-lg-12">
		                        <div class="form_inner">
		                            <form id="searchform">
		                                <div class="row">
		                                	<div class="col-md-2">
		                                    </div>
			                                	<div class="col-md-2">
			                                        <div class="single_field">
			                                            <select class="wide" id="searchtype">
			                                            	<option value="" selected>== 선택 ==</option>
			                                                <option value="T">제목+내용</option>
			                                                <option value="L">위치</option>
			                                            </select>
			                                        </div>
			                                    </div>
			                                    <div class="col-md-5">
			                                        <div class="single_field">
			                                            <input type="text" placeholder="Search keyword" id="searchkeyword">
			                                        </div>
			                                    </div>
		                                    <div class="col-md-2">
			                                    <div class="reset_btn">
						                            <a href="#" class="boxed-btn3" id="searchbutton" style="height:55px;">검색</a>
						                        </div>
					                        </div>
		                                    </div>
		                            	</form>
	                                </div>
	                        		</div>
	                    		</div>
	                		</div>
                		</div>
                    </div>
                </div>
            </div>
        </div>
    </div>