<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script th:inline="javascript">
$(document).ready(function(){

});

// table의 행을 없애는 함수
function deleteItem(obj) {
	var tr = $(obj).closest("tr");
	tr.remove();
}

// db의 북마크 데이터 삭제
function rmbookmark(bsid,obj) {
	$.ajax({
		url:"/evcsmonitor/delete",
		data:{"bsid":bsid},
		success: function(){
			deleteItem(obj);
		}
	});
}

// 해당 충전소로 지도이동
function movemap(statid,sstatNm){
	if (confirm('해당 위치로 이동하시겠습니까? ('+sstatNm+')')) {
		location.href ='map?statid='+statid;
	};
}
</script>

<!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>내 즐겨찾기 목록</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->

<div class="card shadow mb-4">

    <div class="card-body">
        <div class="table-responsive">
        
            <table class="table table-bordered" id="dataTable" style="width: 100%; border-spacing: 0px;">
                <thead>
                    <tr>
                        <th style="text-align:center;">충전소명</th>
                        <th style="text-align:center;">충전소주소</th>
                        <th style="text-align:center;">충전소 보기</th>
                        <th style="text-align:center;">삭제</th>
                    </tr>
                </thead>
                
                <tbody>
                    <tr th:each="bookm:${bookmlist}">       		               
						<td style="text-align:center;"><span th:text="${bookm.sstatNm}">충전소명</span></td>
                        <td style="text-align:center;"><span th:text="${bookm.saddr}">충전소 주소</span></td>
                        <td style="text-align:center;"><a id="mapmovebtn" type="button" class="btn btn-info" href="#" th:onclick="javascript:movemap([[${bookm.statid}]],[[${bookm.sstatNm}]]);">지도보기</a></td>
                        <td style="text-align:center;"><a id="deletebtn" type="button" class="btn btn-danger" href="#" th:onclick="javascript:rmbookmark([[${bookm.bsid}]],this);">삭제</a></td>             		    
                    </tr> 
                </tbody>
            </table>
            
        </div>
    </div>
</div>