<meta charset="UTF-8">
<!-- DataTales Example -->
<div class="card shadow mb-4">

    <div class="card-body">
        <div class="table-responsive">
          <div th:each="m:${mlist}">
              <div th:if="${m.id}==${session.loginmember.id}">
                  <div><a th:href="@{/mypage/upcheckpwd}">마이페이지</a></div>
              </div>
           </div> 
        </div>
    </div>
    
    <div class="card-body">
        <div class="table-responsive">
          <div th:each="m:${mlist}">
              <div th:if="${m.id}==${session.loginmember.id}">
                  <div><a th:href="@{/mypage/upcheckpwd}">마이 커뮤니티 목록</a></div>
              </div>
           </div> 
        </div>
    </div>
    
    
    <div class="card-body">
        <div class="table-responsive">
          <div th:each="m:${mlist}">
              <div th:if="${m.id}==${session.loginmember.id}">
                  <div><a th:href="@{/mypage/upcheckpwd}">즐겨찾기 리스트</a></div>
              </div>
           </div> 
        </div>
    </div>

</div>