<meta charset="UTF-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!-- DataTales Example -->
<div class="card shadow mb-4">

    <div class="card-body">
        <div class="table-responsive">
             <div><a th:href="@{/mypage/upcheckpwd}">마이페이지</a></div>
        </div>
    </div>
    
    <div class="card-body">
        <div class="table-responsive">
            <div><a th:href="@{/mypage/mycomminity}">마이 커뮤니티</a></div>
        </div>
    </div>
    
    
    <div class="card-body">
        <div class="table-responsive">
             <div><a th:href="@{/mypage/mybookmark}">즐겨찾기</a></div>
        </div>
    </div>

</div>