<meta charset="UTF-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="stylesheet" th:href="@{/css/upcheckpwd.css}">
<script th:inline="javascript">
$(document).ready(function(){
	$('#checkbtn').click(function(){
		var pwdl = [[${session.loginmember.pwd}]];
		var pwdc = $('input[name="pwdc"]').val();
		var idl = [[${session.loginmember.id}]];
		if(pwdc == null || pwdc == ''){
		alert('비밀번호를 삽입해 주세요.');
		}else if(pwdc == pwdl){	
		location.href="myprofiledetail?id="+idl;
		}else{
		alert('비밀번호가 일치하지 않습니다.');
		}
	});
});
</script>

<body>
<!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>업데이트 인증(필수)</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->

	<div class="main">
		<!--웹페이지 상단-->
		<header>
			<div class="logo" style="margin-bottom: 40px;">
				<img th:src="@{/images/upcheck.png}" class="image" style="width: 70%; height: 30%;">
			</div>
		</header>

			<div class="upcheck-pw-wrap">
				<input id="pwdc" name="pwdc" style="border: none; outline:none; width:100%;" 
				placeholder="비밀번호를 입력해주세요." type="password"></input>
			</div>
			<div class="upcheck-btn-wrap">
				<button class="boxed-btn3" id="checkbtn">제출(확인)</button>
			</div>
	</div>

</body>
  
        



 