<meta charset="UTF-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="stylesheet" th:href="@{/css/wdcheckpwd.css}">
<script th:inline="javascript">
$(document).ready(function(){
	$('#deletebtn').click(function(){
		var pwdl = [[${session.loginmember.pwd}]];
		var pwdw = $('input[name="pwdw"]').val();
		var idl = [[${session.loginmember.id}]];
		
		if(pwdw == null || pwdw == ''){
			alert('비밀번호를 삽입해 주세요.');
		}else if(pwdw == pwdl){	
			location.href='mypagedelete?id='+idl;
		}else{
			alert('비밀번호가 일치하지 않습니다.');
		}	
	});
});
</script>
<body>
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>회원탈퇴 인증(필수)</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<div class="main">
		<!--웹페이지 상단-->
		<header>
			<div class="logo" style="margin-bottom: 40px;">
				<img th:src="@{/images/wdcheck.png}" class="image" style="width: 70%; height: 30%;">
			</div>
		</header>

			<div class="wdcheck-pw-wrap">
				<input id="pwdw" name="pwdw" style="border: none; outline:none; width:100%;" 
				placeholder="비밀번호를 입력해주세요." type="password"></input>
			</div>
			<div class="wdcheck-btn-wrap">
				<button id="deletebtn" class="boxed-btn3">제출(확인)</button>
			</div>
	</div>

</body>
  

  
        



 