<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">

<div class="container content">
<div class="row gutters">
	<div class="col-lg-4 col-md-5 col-sm-12">
		<div class="plan-card plan-one">
			<div class="pricing-header">
				<h4 class="plan-title">EQA</h4>
				<div class="plan-cost"><img src="images/evinfo/car16.png" width="110" height="130"></div>
			</div>
			<ul class="plan-features">
				<li>주행가능거리 | 303KM</li>
				<li>차량 배터리 용량 | 69.73Kwh</li>
				<li>급속충전핀 | DC콤보</li>
				<li>완속충전핀 | AC완속</li>
			</ul>
		</div>
	</div>
		<div class="col-lg-4 col-md-5 col-sm-12">
		<div class="plan-card plan-one">
			<div class="pricing-header">
				<h4 class="plan-title">EQC</h4>
				<div class="plan-cost"><img src="images/evinfo/car17.png" width="110" height="130"></div>
			</div>
			<ul class="plan-features">
				<li>주행가능거리 | 308KM</li>
				<li>차량 배터리 용량 | 80.03Kwh</li>
				<li>급속충전핀 | DC콤보</li>
				<li>완속충전핀 | AC완속</li>
			</ul>
		</div>
	</div>
		<div class="col-lg-4 col-md-5 col-sm-12">
		<div class="plan-card plan-one">
			<div class="pricing-header">
				<h4 class="plan-title">EQS</h4>
				<div class="plan-cost"><img src="images/evinfo/car18.png" width="110" height="130"></div>
			</div>
			<ul class="plan-features">
				<li>주행가능거리 | 478KM</li>
				<li>차량 배터리 용량 | 107.8Kwh</li>
				<li>급속충전핀 | DC콤보</li>
				<li>완속충전핀 | AC완속</li>
			</ul>
		</div>
	</div>

	</div>
	</div>	