<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">

<div class="container content">
<div class="row gutters">
	<div class="col-lg-4 col-md-5 col-sm-12">
		<div class="plan-card plan-one">
			<div class="pricing-header">
				<h4 class="plan-title">일렉트리파이드 GV70</h4>
				<div class="plan-cost"><img src="images/evinfo/car5.png" width="110" height="130"></div>
			</div>
			<ul class="plan-features">
				<li>주행가능거리 | 400KM</li>
				<li>차량 배터리 용량 | 77.4Kwh</li>
				<li>급속충전핀 | DC콤보</li>
				<li>완속충전핀 | AC완속</li>
				<li>승차인원 | 5인승</li>
				<li>최고속도 | 235km/h</li>					
			</ul>
		</div>
	</div>
		<div class="col-lg-4 col-md-5 col-sm-12">
		<div class="plan-card plan-one">
			<div class="pricing-header">
				<h4 class="plan-title">GV60</h4>
				<div class="plan-cost"><img src="images/evinfo/car6.png" width="110" height="130"></div>
			</div>
			<ul class="plan-features">
				<li>주행가능거리 | 451KM</li>
				<li>차량 배터리 용량 | 77.4Kwh</li>
				<li>급속충전핀 | DC콤보</li>
				<li>완속충전핀 | AC완속</li>
				<li>승차인원 | 5인승</li>
				<li>최고속도 | 200km/h</li>					
			</ul>
		</div>
	</div>
		<div class="col-lg-4 col-md-5 col-sm-12">
		<div class="plan-card plan-one">
			<div class="pricing-header">
				<h4 class="plan-title">일렉트리파이드 G80</h4>
				<div class="plan-cost"><img src="images/evinfo/car7.png" width="110" height="130"></div>
			</div>
			<ul class="plan-features">
				<li>주행가능거리 | 433KM</li>
				<li>차량 배터리 용량 | 87.2Kwh</li>
				<li>급속충전핀 | DC콤보</li>
				<li>완속충전핀 | AC완속</li>
				<li>승차인원 | 5인승</li>
				<li>최고속도 | 225km/h</li>					
			</ul>
		</div>
	</div>

	</div>
	</div>	