<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">

<div class="container content">
	<div class="row gutters">
		<div class="col-lg-4 col-md-5 col-sm-12">
			<div class="plan-card plan-one">
				<div class="pricing-header">
					<h4 class="plan-title">봉고3</h4>
					<div class="plan-cost">
						<img src="images/evinfo/car8.png" width="110" height="130">
					</div>
				</div>
				<ul class="plan-features">
					<li>주행가능거리 | 211KM</li>
					<li>차량 배터리 용량 | 58.8Kwh</li>
					<li>급속충전핀 | DC콤보</li>
					<li>완속충전핀 | AC완속</li>
					<li>승차인원 | 3인승</li>
					<li>최고속도 | 160km/h</li>
				</ul>
			</div>
		</div>
		<div class="col-lg-4 col-md-5 col-sm-12">
			<div class="plan-card plan-one">
				<div class="pricing-header">
					<h4 class="plan-title">EV6</h4>
					<div class="plan-cost">
						<img src="images/evinfo/car9.png" width="110" height="130">
					</div>
				</div>
				<ul class="plan-features">
					<li>주행가능거리 | 483KM</li>
					<li>차량 배터리 용량 | 77.4Kwh</li>
					<li>급속충전핀 | DC콤보</li>
					<li>완속충전핀 | AC완속</li>
					<li>승차인원 | 5인승</li>
					<li>최고속도 | 185km/h</li>
				</ul>
			</div>
		</div>
		<div class="col-lg-4 col-md-5 col-sm-12">
			<div class="plan-card plan-one">
				<div class="pricing-header">
					<h4 class="plan-title">니로</h4>
					<div class="plan-cost">
						<img src="images/evinfo/car10.png" width="110" height="130">
					</div>
				</div>
				<ul class="plan-features">
					<li>주행가능거리 | 385KM</li>
					<li>차량 배터리 용량 | 64Kwh</li>
					<li>급속충전핀 | DC콤보</li>
					<li>완속충전핀 | AC완속</li>
					<li>승차인원 | 5인승</li>
					<li>최고속도 | 160km/h</li>
				</ul>
			</div>
		</div>
		<div class="col-lg-4 col-md-5 col-sm-12">
			<div class="plan-card plan-one">
				<div class="pricing-header">
					<h4 class="plan-title">쏘울</h4>
					<div class="plan-cost">
						<img src="images/evinfo/car11.png" width="110" height="130">
					</div>
				</div>
				<ul class="plan-features">
					<li>주행가능거리 | 388KM</li>
					<li>차량 배터리 용량 | 64.08Kwh</li>
					<li>급속충전핀 | DC차데모</li>
					<li>완속충전핀 | AC완속</li>
					<li>승차인원 | 5인승</li>
					<li>최고속도 | 155km/h</li>
				</ul>
			</div>
		</div>
	</div>
</div>