<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">

<div class="container content">
	<div class="row gutters">

		<div class="col-lg-4 col-md-5 col-sm-12">
			<div class="plan-card plan-one">
				<div class="pricing-header">
					<h4 class="plan-title">ZOE</h4>
					<div class="plan-cost">
						<img src="images/evinfo/car14.png" width="110" height="130">
					</div>
				</div>
				<ul class="plan-features">
					<li>주행가능거리 | 309KM</li>
					<li>차량 배터리 용량 | 54.5Kwh</li>
					<li>급속충전핀 | DC콤보</li>
					<li>완속충전핀 | AC완속</li>
					<li>승차인원 | 5인승</li>
					<li>최고속도 | 140km/h</li>
				</ul>
			</div>
		</div>

		<div class="col-lg-4 col-md-5 col-sm-12">
			<div class="plan-card plan-one">
				<div class="pricing-header">
					<h4 class="plan-title">SM3 ZE</h4>
					<div class="plan-cost">
						<img src="images/evinfo/car15.png" width="110" height="130">
					</div>
				</div>
				<ul class="plan-features">
					<li>주행가능거리 | 213KM</li>
					<li>차량 배터리 용량 | 35.9Kwh</li>
					<li>급속충전핀 | AC3상</li>
					<li>완속충전핀 | AC3상</li>
					<li>승차인원 | 4인승</li>
					<li>최고속도 | 135km/h</li>
				</ul>
			</div>
		</div>

	</div>
</div>