<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">

<div class="container content">
<div class="row gutters">
	<div class="col-lg-4 col-md-5 col-sm-12">
		<div class="plan-card plan-one">
			<div class="pricing-header">
				<h4 class="plan-title">모델3</h4>
				<div class="plan-cost"><img src="images/evinfo/car30.png" width="110" height="130"></div>
			</div>
			<ul class="plan-features">
				<li>주행가능거리 | 528KM</li>
				<li>차량 배터리 용량 | 75Kwh</li>
				<li>급속충전핀 | AC3상</li>
				<li>완속충전핀 | AC3상</li>
				<li>승차인원 | 5인승</li>
				<li>최고속도 | 233km/h</li>					
			</ul>
		</div>
	</div>
		<div class="col-lg-4 col-md-5 col-sm-12">
		<div class="plan-card plan-one">
			<div class="pricing-header">
				<h4 class="plan-title">모델X</h4>
				<div class="plan-cost"><img src="images/evinfo/car31.png" width="110" height="130"></div>
			</div>
			<ul class="plan-features">
				<li>주행가능거리 | 580KM</li>
				<li>차량 배터리 용량 | 100Kwh</li>
				<li>급속충전핀 | AC3상</li>
				<li>완속충전핀 | AC3상</li>
				<li>승차인원 | 5인승</li>
				<li>최고속도 | 210km/h</li>					
			</ul>
		</div>
	</div>
		<div class="col-lg-4 col-md-5 col-sm-12">
		<div class="plan-card plan-one">
			<div class="pricing-header">
				<h4 class="plan-title">모델Y</h4>
				<div class="plan-cost"><img src="images/evinfo/car32.png" width="110" height="130"></div>
			</div>
			<ul class="plan-features">
				<li>주행가능거리 | 511KM</li>
				<li>차량 배터리 용량 | 75Kwh</li>
				<li>급속충전핀 | AC3상</li>
				<li>완속충전핀 | AC3상</li>
				<li>승차인원 | 5인승</li>
				<li>최고속도 | 217km/h</li>					
			</ul>
		</div>
	</div>
		<div class="col-lg-4 col-md-5 col-sm-12">
		<div class="plan-card plan-one">
			<div class="pricing-header">
				<h4 class="plan-title">모델S</h4>
				<div class="plan-cost"><img src="images/evinfo/car33.png" width="110" height="130"></div>
			</div>
			<ul class="plan-features">
				<li>주행가능거리 | 652KM</li>
				<li>차량 배터리 용량 | 100Kwh</li>
				<li>급속충전핀 | AC3상</li>
				<li>완속충전핀 | AC3상</li>
				<li>승차인원 | 5인승</li>
				<li>최고속도 | 250km/h</li>					
			</ul>
		</div>
	</div>	
	</div>
	</div>	