<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">

<div class="container content">
<div class="row gutters">
	<div class="col-lg-4 col-md-5 col-sm-12">
		<div class="plan-card plan-one">
			<div class="pricing-header">
				<h4 class="plan-title">XC40 리차지</h4>
				<div class="plan-cost"><img src="images/evinfo/car25.png" width="110" height="130"></div>
			</div>
			<ul class="plan-features">
				<li>주행가능거리 | 337KM</li>
				<li>차량 배터리 용량 | 78Kwh</li>
				<li>급속충전핀 | DC콤보</li>
				<li>완속충전핀 | AC완속</li>
			</ul>
		</div>
	</div>
		<div class="col-lg-4 col-md-5 col-sm-12">
		<div class="plan-card plan-one">
			<div class="pricing-header">
				<h4 class="plan-title">C40 리차지</h4>
				<div class="plan-cost"><img src="images/evinfo/car26.png" width="110" height="130"></div>
			</div>
			<ul class="plan-features">
				<li>주행가능거리 | 356KM</li>
				<li>차량 배터리 용량 | 78Kwh</li>
				<li>급속충전핀 | DC콤보</li>
				<li>완속충전핀 | AC완속</li>
			</ul>
		</div>
	</div>
		<div class="col-lg-4 col-md-5 col-sm-12">
		<div class="plan-card plan-one">
			<div class="pricing-header">
				<h4 class="plan-title">풀스타2</h4>
				<div class="plan-cost"><img src="images/evinfo/car27.png" width="110" height="130"></div>
			</div>
			<ul class="plan-features">
				<li>주행가능거리 | 417KM</li>
				<li>차량 배터리 용량 | 78Kwh</li>
				<li>급속충전핀 | DC콤보</li>
				<li>완속충전핀 | AC완속</li>
			</ul>
		</div>
	</div>

	</div>
	</div>	