@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');

a[class="dosirak"] {
  text-decoration:none; 
  font-family: 'NanumBarunGothic', sans-serif;
  font-size:18px;
  font-weight:normal;
  color:#cecece;
}

a[class="dosirak"]:visited, a[class="dosirak"]:link, a[class="dosirak"]:active {
   
  font-family: 'NanumBarunGothic', sans-serif;
  font-size:18px;
  font-weight:normal;
  color:#cecece;
}
   
a[class="dosirak"]:hover{

  font-family: 'NanumBarunGothic', sans-serif;
  font-size:18px;
  font-weight:normal;
   
  color:#f67001;

}


.btn_order{ 
  font-family: 'NanumBarunGothic', sans-serif;
  border:dotted 0px white; 
  background:#f67001;
  color:#fff;    
  border-radius:7px 7px 7px 7px;  
  width:115px; height:34px;   
  font-size: 15px;

}

.btn_select{
  font-family: 'NanumBarunGothic', sans-serif;
border:dotted 0px white; background:#f67001;color:#fff;    border-radius:4px 4px 4px 4px;   width:65px; height:26px;  font-size: 8.86px;
}


.btn_cancel:hover,
.btn_cancel1:hover,
.btn_cancel2:hover,
.btn_cancel3:hover{
  background:#f67001;
}


