body{
    background-color: #f5f6f7;
}
select{
    width:85px;
    height:25px;
    outline: none;
    background: #f5f6f7;
    border: 1px solid #999;
}
a{
    color: black;
    text-decoration: none;
}
.main{
    text-align: center;
	margin-top: 20px;
}
input{
    cursor: pointer
}


.upcheck-pw-wrap{

    margin: 0px 10px 8px 10px;
    padding: 10px;
    border: solid 1px #dadada;
    background: #fff;
}


.upcheck-btn-wrap{
    height: 60px;
    line-height: 50px;
    width:440px;
    margin: 0px 0px 8px 10px;
    border: solid 1px rgba(0,0,0,.1);
    background-color: #0101DF;
    color: #fff;
    cursor: pointer;
}

#checkbtn{
    width:100px;
    background-color: #0101DF;
    border: none;
    color:#fff;
    font-size: 18px;
    outline:none;
}

/*가로 800px 이상일때*/
@media(min-width : 800px)
{
    .main{
        width: 460px;
        margin: auto;
    }

/*하단 footer*/
footer{
    display:block;
}

}
