<meta charset="UTF-8">

        <!-- 헤더 이미지 부분 -->
        <header class="bg-primary py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div style="text-align: right">
                    <img style="width: 70%; height: 30%;" th:src="@{/images/maincar1.png}" alt="..." />
                </div>
            </div>
        </header>
        
        <!-- 하단 섹션 START-->
        <section class="py-1">
            <div class="container px-3 px-lg-5 mt-10">
                <div class="row gx-3 gx-lg-1 row-cols-5 row-cols-md-3 row-cols-xl-4
                justify-content-space-between">
                                       
                    <!-- 충전소 찾기(지도) -->   
                    <div class="col mb-1">
                    	<a class="electroniccar" th:href="@{/map}">
                        <div class="card h-20">                           
                            <img class="card-img-top" th:src="@{/images/map.png}" style="width: 100%; height: 200px;" alt="..." />                           
                            <div class="card-body p-1">
                                <div class="text-center">          
                                    <h5 class="fw-bolder">충전소 찾기</h5>
                                    Finding a Charging Station
                                </div>
                            </div>
                        </div>
                    	</a>
                    </div>

                    <!-- 충전 요금 안내 -->   
                    <div class="col mb-1">
                    	<a class="electroniccar" th:href="@{/}">
                        <div class="card h-20">                           
                            <img class="card-img-top" th:src="@{/images/receipt.png}" style="width: 100%; height: 200px;" alt="..." />                           
                            <div class="card-body p-1">
                                <div class="text-center">          
                                    <h5 class="fw-bolder">충전요금안내</h5>
                                    Charging Fee Information
                                </div>
                            </div>
                        </div>
                    	</a>
                    </div>                    
 
                     <!-- 충전기 타입 안내 -->   
                    <div class="col mb-1">
                    	<a class="electroniccar" th:href="@{/}">
                        <div class="card h-20">                           
                            <img class="card-img-top" th:src="@{/images/charger.png}" style="width: 100%; height: 200px;" alt="..." />                           
                            <div class="card-body p-1">
                                <div class="text-center">          
                                    <h5 class="fw-bolder">충전기 타입 종류</h5>
                                    Charger Type Information
                                </div>
                            </div>
                        </div>
                    	</a>
                    </div>                     

                     <!-- 전기차 모델 안내 -->   
                    <div class="col mb-1">
                    	<a class="electroniccar" th:href="@{/}">
                        <div class="card h-20">                           
                            <img class="card-img-top" th:src="@{/images/electric-car.png}" style="width: 100%; height: 200px;" alt="..." />                           
                            <div class="card-body p-1">
                                <div class="text-center">          
                                    <h5 class="fw-bolder">전기차 모델 안내</h5>
                                    Electric Vehicle Information
                                </div>
                            </div>
                        </div>
                    	</a>
                    </div>  
                                 
                            
                </div>
            </div>
        </section>
  <!-- 하단 섹션 STOP-->
