<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.27.0/feather.min.js" integrity="sha256-xHkYry2yRjy99N8axsS5UL/xLHghksrFOGKm9HvFZIs=" crossorigin="anonymous"></script>


<style>
body{
    background:#f2f3f7;
    margin-top:0px;
    }
.m-b-30 {
    margin-bottom: 30px;
    margin-top:20px;
}
p{
color: #8A98AC;    
}
.table-borderless td {
    
    border: 0 !important;
}
.table td {
    color: #8A98AC;
    vertical-align: middle;
    border-top: 1px solid rgba(0, 0, 0, 0.03);
    padding: 0.6rem;
}
.btn-primary-rgba {
    background-color: rgba(80, 111, 228, 0.1);
    border: none;
    color: #506fe4;
}
.btn-success-rgba {
    background-color: rgba(67, 209, 135, 0.1);
    border: none;
    color: #43d187;
}
.card {
    border: none;
    border-radius: 3px;
    background-color: #ffffff;
}
</style>

<body>
<!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>고객센터</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->
<div class="container">
<div class="row">
    <!-- Start col -->
    <div class="col-lg-6">
        <div class="card m-b-30">
            <div class="card-body py-5">
                <div class="row">
                    <div class="col-lg-3 text-center">
                        <img src="images/support.png" class="img-fluid mb-3" />
                    </div>
                    <div class="col-lg-9">
                        <h4>고객문의(서비스) 담당자</h4>
                        <div class="button-list mt-4 mb-3">
                            <a type="button" class="btn btn-primary-rgba" href="mailto:gjhansc@gmail.com">Email</a>
                            <a type="button" class="btn btn-success-rgba" href="tel:(02) 951-9586">전화하기</a>
				         </div>
                        <div class="table-responsive">
                            <table class="table table-borderless mb-0">
                                <tbody>
                                    <tr>
                                        <th scope="row" class="p-1">연락처 :</th>
                                        <td class="p-1">(02) 951-9586</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="p-1">이메일 :</th>
                                        <td class="p-1">gjhansc@gmail.com</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="p-1">운영시간 :</th>
                                        <td class="p-1">09시~18시(토,일,공휴일 휴무)</td>
                                    </tr>                                      
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End col -->
    <!-- Start col -->
    <div class="col-lg-6">
        <div class="card m-b-30">
            <div class="card-body py-5">
                <div class="row">
                    <div class="col-lg-3 text-center">
                        <img src="images/guard.png" class="img-fluid mb-3" />
                    </div>
                    <div class="col-lg-9">
                        <h4>개인정보 보호책임자</h4>
                        <div class="button-list mt-4 mb-3">
                            <a type="button" class="btn btn-primary-rgba" href="mailto:gjhansc@gmail.com">Email</a>
                            <a type="button" class="btn btn-success-rgba" href="tel:(02) 951-9586">전화하기</a>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-borderless mb-0">
                                <tbody>
                                    <tr>
                                        <th scope="row" class="p-1">연락처 :</th>
                                        <td class="p-1">(02) 951-9552</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="p-1">이메일 :</th>
                                        <td class="p-1">gjhansc@gmail.com</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="p-1">운영시간 :</th>
                                        <td class="p-1">09시~18시(토,일,공휴일 휴무)</td>
                                    </tr>                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End col -->
</div>
</div>

</body>


