<meta charset="UTF-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="stylesheet" th:href="@{/css/forgetcustpwd.css}">

<script th:inline ="javascript">
$(document).ready(function(){
	
	$('#findpwdbtn').click(function(){
		
		$('#findpwdcheck').empty();
		var custname = $('input[name="pwdnamecheck"]').val();
		var custid = $('input[name="pwdidcheck"]').val();
		var custemail = $('input[name="pwdemailcheck"]').val();
		
		$('#findpwdcheck').append('<p class="find_result pwd">정보를 찾고 있습니다. 잠시만 기다려주세요.</p>');
			
		$.ajax({
			url:'findpwdimpl',
			data:{
				'name':custname,
				'id':custid,
				'email':custemail
			},
			success: function(result){

				$('#findpwdcheck').empty();
				if(result == "0"){
					$('#findpwdcheck').append('<p class="pwdfindresult">일치하는 회원 정보가 없습니다.</p><p class="pwdfindresult">다시 입력해 주십시오.</p>');
				}else{
					$('#findpwdcheck').append('<p class="pwdfindresult">해당 메일 주소로 비밀번호를 발송하였습니다.</p>');
				}
			}
		});
		
	});

	
});
</script>

	<div class="main">
		<!--웹페이지 상단-->
		<header>
			<div class="logo" style="margin-bottom: 40px;">
				<img th:src="@{/images/findpassword.png}" class="image" style="width: 70%; height: 20%;">
				<h1 class="heading-title" style="text-align:center"> 비밀번호 찾기 </h1>
			</div>
		</header>

		<!--로그인 부분-->
		<form class="login-wrap" id="findpwdprofile">

			<div class="name-pwd-wrap">
				<input id="pwdnamecheck" name="pwdnamecheck" style="border: none; outline:none; width:100%;" placeholder="이름을 입력해주세요." type="text"></input>
			</div>
			
			<div class="id-pwd-wrap">
				<input id="pwdidcheck" name="pwdidcheck" style="border: none; outline:none; width:100%;" placeholder="아이디를 입력해주세요." type="text"></input>
			</div>
			
			<div class="email-pwd-wrap">
				<input id="pwdemailcheck" name="pwdemailcheck" style="border: none; outline:none; width:100%;" placeholder="이메일 주소를 입력해주세요." type="email"></input>
			</div>
			
			<div class="find-pwdbtn-wrap">
				<button type="button" id="findpwdbtn">확인</button>
			</div>
			
			<div class="back-home-wrap">
				<a th:href="@{/login}" id="backloginbtn">로그인</a>
			</div>
			
			<hr>
			
			<div class="info-home-wrap">
			<div style="border: none; outline:none; color:blue; 
				background:#FA5858; font-size: 1.5em;
				text-align:center" id="findpwdcheck"></div>
			</div>

		</form>

	</div>

</body>