<meta charset="UTF-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="stylesheet" th:href="@{/css/forgetcustpwd.css}">
<style>
body{
    background-color: #f5f6f7;
}
select{
    width:85px;
    height:25px;
    outline: none;
    background: #f5f6f7;
    border: 1px solid #999;
}
a{
    color: black;
    text-decoration: none;
}
.main{
    text-align: center;
	margin-top: 20px;
}
input{
    cursor: pointer
}


.find-pwnm-wrap{

    margin: 0px 10px 8px 10px;
    padding: 10px;
    border: solid 1px #dadada;
    background: #fff;
}


.find-pwem-wrap{

    margin: 0px 10px 8px 10px;
    padding: 10px;
    border: solid 1px #dadada;
    background: #fff;
}

.find-pwid-wrap{

    margin: 0px 10px 8px 10px;
    padding: 10px;
    border: solid 1px #dadada;
    background: #fff;
}

/*가로 800px 이상일때*/
@media(min-width : 800px)
{
    .main{
        width: 460px;
        margin: auto;
    }
</style>
<script th:inline ="javascript">
$(document).ready(function(){
	
	$('#findpwdbtn').click(function(){
		
		$('#findpwdcheck').empty();
		var custname = $('input[name="pwdnamecheck"]').val();
		var custid = $('input[name="pwdidcheck"]').val();
		var custemail = $('input[name="pwdemailcheck"]').val();
		
		$('#findpwdcheck').append('<p class="find_result pwd">정보를 찾고 있습니다. 잠시만 기다려주세요.</p>');
			
		$.ajax({
			url:'findpwdimpl',
			data:{
				'name':custname,
				'id':custid,
				'email':custemail
			},
			success: function(result){

				$('#findpwdcheck').empty();
				if(result == "0"){
					$('#findpwdcheck').append('<p class="pwdfindresult">일치하는 회원 정보가 없습니다. 다시 입력해 주십시오.</p>');
				}else{
					$('#findpwdcheck').append('<p class="pwdfindresult">해당 메일 주소로 비밀번호를 발송하였습니다.</p>');
				}
			}
		});
		
	});

	
});
</script>

<!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>비밀번호 찾기</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->

	<div class="main">
		<!--웹페이지 상단-->
		<div class="logo" style="margin-top: 40px; margin-bottom: 20px;">
			<img th:src="@{/images/findpassword.png}" class="image" style="width: 60%; height: 60%;">
		</div>

		<!--로그인 부분-->
		<form class="login-wrap" id="findpwdprofile">

			<div class="find-pwnm-wrap">
				<input id="pwdnamecheck" name="pwdnamecheck" style="border: none; outline:none; width:100%;" placeholder="이름을 입력해주세요." type="text"></input>
			</div>
			<div class="find-pwid-wrap">
				<input id="pwdidcheck" name="pwdidcheck" style="border: none; outline:none; width:100%;" placeholder="아이디를 입력해주세요." type="text"></input>
			</div>
			<div class="find-pwem-wrap">
				<input id="pwdemailcheck" name="pwdemailcheck" style="border: none; outline:none; width:100%;" placeholder="이메일 주소를 입력해주세요." type="email"></input>
			</div>
			<div class="pwd-confirm-wrap">
				<button class="boxed-btn3" style="width:440px; margin-bottom:10px;" type="button" id="findpwdbtn">확인</button>
				<a class="boxed-btn3" type="button" style="width:440px; margin-bottom:10px; background-color: blue;" th:href="@{/login}">로그인</a>
			</div>
			
			<hr>
			
			<div class="info-home-wrap">
			<div style="border: none; outline:none; color:#191007; 
				height: 50px;
				background:#FFF; font-size: 2.5em;
				margin: 0px 5px 5px 5px; padding: 10px;
				text-align:center" id="findpwdcheck"></div>
			</div>

		</form>

	</div>