<meta charset="UTF-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<style>
body{
    background-color: #f5f6f7;
}
select{
    width:85px;
    height:25px;
    outline: none;
    background: #f5f6f7;
    border: 1px solid #999;
}
a{
    color: black;
    text-decoration: none;
}
.main{
    text-align: center;
	margin-top: 20px;
}
input{
    cursor: pointer
}

/*input 아이디박스*/
.find-idnm-wrap{

    margin: 0px 10px 8px 10px;
    padding: 10px;
    border: solid 1px #dadada;
    background: #fff;
}

/*input 패스워드박스*/
.find-idem-wrap{

    margin: 0px 10px 8px 10px;
    padding: 10px;
    border: solid 1px #dadada;
    background: #fff;
}

/*가로 800px 이상일때*/
@media(min-width : 800px)
{
    .main{
        width: 460px;
        margin: auto;
    }
</style>
<script th:inline ="javascript">
$(document).ready(function(){
	
	$('#findidbtn').click(function(){
		$('#findidcheck').empty();
		var custname = $('input[name="idnamecheck"]').val();
		var custemail = $('input[name="idemailcheck"]').val();
		
		if(custname==null || custname==""){
			alert('이름을 입력해주십시오.');
		}else if(custemail==null || custemail==""){
			alert('이메일을 입력해주십시오.');
		}else{
		$.ajax({
			url:'findidimpl',
			data:{
				'name':custname,
				'email':custemail
			},
			success: function(result){
				if(result == "0"){
					$('#findidcheck').append('<p class="idfindresult">일치하는 회원 정보가 없습니다.</p><p class="idfindresult">다시 입력해 주십시오.</p>');
				}else{
					$('#findidcheck').append('<p class="idfindresult">일치 하는 아이디: ' + result + '</p>');
				}
			}
		});
	}
		
	});
	
});
</script>

<body>
<!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>아이디 찾기</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->

	<div class="main">
		<!--웹페이지 상단-->
		<div class="logo" style="margin-top: 40px; margin-bottom: 20px;">
			<img th:src="@{/images/findid.png}" class="image" style="width: 60%; height: 60%;">
		</div>

		<!--로그인 부분-->
		<form class="login-wrap" id="findidprofile">

			<div class="find-idnm-wrap">
				<input id="idnamecheck" name="idnamecheck" style="border: none; outline:none; width:100%;" placeholder="이름을 입력해주세요." type="text"></input>
			</div>
			<div class="find-idem-wrap">
				<input id="idemailcheck" name="idemailcheck" style="border: none; outline:none; width:100%;" placeholder="이메일을 입력해주세요." type="email"></input>
			</div>
			<div class="id-confirm-wrap">
				<button class="boxed-btn3" type="button" style="width:440px; margin-bottom:10px;" id="findidbtn">확인하기</button>
				<a class="boxed-btn3" type="button" style="width:440px; margin-bottom:10px; background-color: blue;" th:href="@{/login}">로그인</a>
			</div>
			
			<hr>
			
			<div class="info-home-wrap">
			<div style="border: none; outline:none; color:#191007; 
				height: 50px;
				background:#FFF; font-size: 2.5em;
				margin: 0px 5px 5px 5px; padding: 10px;
				text-align:center" id="findidcheck"></div>
			</div>
		</form>

	</div>
</body>