<meta charset="UTF-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="stylesheet" th:href="@{/css/login.css}">

<script>
$(document).ready(function(){
	
	// 저장된 쿠키값을 가져와서 ID 칸에 넣어준다. 없으면 공백으로 들어감.
    var key = getCookie("key");
    $("#id").val(key); 
     
    // 그 전에 ID를 저장해서 처음 페이지 로딩 시, 입력 칸에 저장된 ID가 표시된 상태라면,
    if($("#id").val() != ""){ 
        $("#stay-checkbox").attr("checked", true); // ID 저장하기를 체크 상태로 두기.
    }
     
    $("#stay-checkbox").change(function(){ // 체크박스에 변화가 있다면,
        if($("#stay-checkbox").is(":checked")){ // ID 저장하기 체크했을 때,
            setCookie("key", $("#id").val(), 7); // 7일 동안 쿠키 보관
        }else{ // ID 저장하기 체크 해제 시,
            deleteCookie("key");
        }
    });
     
    // ID 저장하기를 체크한 상태에서 ID를 입력하는 경우, 이럴 때도 쿠키 저장.
    $("#id").keyup(function(){ // ID 입력 칸에 ID를 입력할 때,
        if($("#stay-checkbox").is(":checked")){ // ID 저장하기를 체크한 상태라면,
            setCookie("key", $("#id").val(), 7); // 7일 동안 쿠키 보관
        }
    });
	
	$('#login-btn').click(function(){
		
		$('#login_form').attr({
			'method':'post',
			'action':'loginimpl' 
		});
		$('#login_form').submit();
		
	});
});

// 쿠키 저장하기 
// setCookie => saveid함수에서 넘겨준 시간이 현재시간과 비교해서 쿠키를 생성하고 지워주는 역할
function setCookie(cookieName, value, exdays) {
	var exdate = new Date();
	exdate.setDate(exdate.getDate() + exdays);
	var cookieValue = escape(value)
			+ ((exdays == null) ? "" : "; expires=" + exdate.toGMTString());
	document.cookie = cookieName + "=" + cookieValue;
}

// 쿠키 삭제
function deleteCookie(cookieName) {
	var expireDate = new Date();
	expireDate.setDate(expireDate.getDate() - 1);
	document.cookie = cookieName + "= " + "; expires="
			+ expireDate.toGMTString();
}
 
// 쿠키 가져오기
function getCookie(cookieName) {
	cookieName = cookieName + '=';
	var cookieData = document.cookie;
	var start = cookieData.indexOf(cookieName);
	var cookieValue = '';
	if (start != -1) { // 쿠키가 존재하면
		start += cookieName.length;
		var end = cookieData.indexOf(';', start);
		if (end == -1) // 쿠키 값의 마지막 위치 인덱스 번호 설정 
			end = cookieData.length;
            console.log("end위치  : " + end);
		cookieValue = cookieData.substring(start, end);
	}
	return unescape(cookieValue);
}
</script>

<body>

	<div class="main">
		<!--웹페이지 상단-->
		<header>
			<div class="logo" style="margin-bottom: 40px;">
				<img th:src="@{/images/loginlogo.png}" class="image" style="width: 70%; height: 30%;">
				<h1 class="heading-title" style="text-align:center"> 로그인 페이지 </h1>
			</div>
		</header>

		<!--로그인 부분-->
		<form class="login-wrap" id="login_form">

			<div class="login-id-wrap">
				<input id="id" name="id" style="border: none; outline:none; width:100%;" placeholder="아이디" type="text"></input>
			</div>
			<div class="login-pw-wrap">
				<input id="pwd" name="pwd" style="border: none; outline:none; width:100%;" placeholder="비밀번호" type="password"></input>
			</div>
			<div class="login-btn-wrap">
				<button id="login-btn">로그인</button>
			</div>
			<div class="login-error-wrap" style="" th:if="${msg != null}">
				<input style="border: none; outline:none; width:96%; color:blue; 
				background:#FA5858;
				margin: 0px 5px 5px 5px; padding: 10px;
				text-align:center" th:value="${msg}" readonly="readonly"></input>
			</div>
			<div class="under-login">
				<span class="stay-check">
					<input id="stay-checkbox" type="checkbox"></input>
					<label for="stay-checkbox">아이디 저장</label>
				</span>
			</div>

		</form>

		<!--아이디/비밀번호 찾기 부분-->
		<section id="find-account-wrap">
			<div class="find-account">
				<p id="find-account-text">아이디/비밀번호 찾기</p>
			</div>

			<div class="find-account-box">
				<div class="find-id">
					<a th:href="@{/forgetcustid}">아이디 찾기</a>
				</div>

				<div class="find-pwd">
					<a th:href="@{/forgetcustpwd}">비밀번호 찾기</a>
				</div>
			</div>
		</section>

	</div>

</body>
</html>