<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>전기차</title>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, user-scalable=no" />
<link rel="stylesheet" href="css/main.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=cd8a8e58779dc52947b1a9a342fd0506&libraries=services,clusterer"></script>

<script th:inline="javascript" src="js/map.js"></script>
<link rel="stylesheet" href="css/map.css" />

</head>

<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">
	
	<!-- Main -->
		<div id="main">
			<div th:insert="${center} ? ${center} : center"></div>
		</div>
		
		<!-- Side Bar  -->
		<div th:insert="${left} ? ${left} : left"></div>
	</div>
	

	<!-- Scripts -->
	<script src="js/jquery.min.js"></script>
	<script src="js/browser.min.js"></script>
	<script src="js/breakpoints.min.js"></script>
	<script src="js/util.js"></script>
	<script src="js/main.js"></script>
</body>
</html>