<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<link rel="stylesheet" href="/css/register.css">
</head>
<script>
function sendId(id){
	$.ajax({
		url:'/checkid',
		data:{'id':id},
		success:function(data){
			if(data == '1'){
				$('#cidspan').text('이미 있는 ID입니다.');
			}else if(data == '2'){
				$('#cidspan').text('필수 정보입니다.');	
			}else if(data == '3'){
				$('#cidspan').text('ID는 알파벳과 숫자만 사용가능합니다.');
			}else{
				$('#cidspan').text('사용 가능한 ID입니다.');
			}
		}
	});
}

$(document).ready(function(){
	$('input[name="id"]').keyup(function(){
		var id = $(this).val(); 		
		sendId(id);
	});	
	
 	$('input[name="pwd"]').keyup(function(){
		var pwd = $(this).val();
		var pwdc = $('input[name="pwdc"]').val();		

		if(!(pwdc==null||pwdc=='')){
			if(pwd != pwdc){
				$('#pwdcspan').text('비밀번호가 일치하지 않습니다.');
			}else{
				$('#pwdcspan').text('비밀번호가 일치합니다.');
			} 	
		}				
	}); 	
		
	$('input[name="pwdc"]').keyup(function(){
		var pwd = $('input[name="pwd"]').val();
		var pwdc = $(this).val();
		
		if(!(pwd==null||pwd=='')){
			if(pwd != pwdc){
				$('#pwdcspan').text('비밀번호가 일치하지 않습니다.');
			}else{
				$('#pwdcspan').text('비밀번호가 일치합니다.');
			} 	
		}
	});
	
	$('#add_bt').click(function(){
		var id = $('input[name="id"]').val(); 
		var pwd = $('input[name="pwd"]').val();
		var pwdc = $('input[name="pwdc"]').val();	
		var name = $('input[name="name"]').val();
		var phonenum = $('input[name="phonenum"]').val();
		var email = $('input[name="email"]').val();
		var clp = $('input[name="clp"]').val();
		
		if(id==null||id==''){
			
			alert('ID를 입력해주십시오.');
			
		}else if(pwd==null||pwd==''||pwdc==null||pwdc==''){
			
			alert('비밀번호를 입력해주십시오.');
			
		}else if(name==null||name==''){
			
			alert('이름을 입력해주세요.');
			
		}else if( phonenum==null|| phonenum==''){
			
			alert('휴대전화번호를 입력해주세요.');
			
		}else if(email==null||email==''){
			
			alert('이메일을 입력해주세요.');
			
		}else if(clp==null||clp==''){
			
			alert('차량번호를 입력해주세요.');
			
		}else{
			
			$('#add_form').attr({
				'method':'post',
				'action':'addimpl' 
			});
			$('#add_form').submit();
			
			alert('등록이 완료되었습니다.');
		}
	});
});
</script>
<body>
<div class="demo">
 <div class="demo form-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-1 col-md-10">
                    <form class="form-horizontal" id="add_form">
                        <div class="header">회원가입</div>
                        <div class="form-content">
                            <h4 class="heading">Your Details</h4>

                            <div class="form-group">
                                <div class="col-sm-5">
                                	<label class="control-label" for="id"><i class="fa fa-user"></i></label>
                                	<input class="form-control" id="id" name="id" placeholder="아이디" type="text"><span id="cidspan"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-5">
                                    <label class="control-label" for="pwd"><i class="fa fa-lock"></i></label>
                                    <input class="form-control" id="pwd" name="pwd" placeholder="비밀번호" type="password"><span id="pwdspan"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-5">
                                    <label class="control-label" for="pwdc"><i class="fa fa-lock"></i></label>
                                    <input class="form-control" id="pwdc" name="pwdc" placeholder="비밀번호 재확인" type="password"><span id="pwdcspan"></span>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <div class="col-sm-5">
                                   <label class="control-label" for="name"><i class="fa fa-user"></i></label>
                                   <input class="form-control" id="name" name="name" placeholder="이름" type="text">                          
                                </div>
                            </div>

                            <h4 class="heading">Registration Details</h4>
                            <div class="form-group">
                                <div class="col-sm-5">
                                    <label class="control-label" for="nickname"><i class="fa fa-user"></i></label>
                                    <input class="form-control" id="nickname" name="nickname" placeholder="닉네임" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                              <div class="col-sm-5">
                                    <label class="control-label" for="phonenum"><i class="fa fa-user"></i></label>
                                    <input class="form-control" id="phonenum" name="phonenum" placeholder="휴대전화번호" type="text">
                                </div>
                            </div>    
                            <div class="form-group">
                                <div class="col-sm-5">
                                    <label class="control-label" for="email"><i class="fa fa-user"></i></label>
                                    <input class="form-control" id="email" name="email" placeholder="이메일 주소" type="email">
                                </div>
                            </div>
                            
                             <h4 class="heading">Vehicle Details</h4> 
                             <div class="form-group">
                                <div class="col-sm-5">
                                    <label class="control-label" for="clp"><i class="fa fa-user"></i></label>
                                    <input class="form-control" id="clp" name="clp" placeholder="차량번호" type="text">
                                </div>
                                <div class="col-sm-5">
                                    <select name = "carmodelid" class="form-control form-control-item">
          								<option th:each="cm:${cmlist}" 
            								th:if="${cm.carmodelid != 0}"
            								th:value="${cm.carmodelid}" th:text="${cm.mname}">
          								</option>
      								</select>
                                </div>
                            </div>
                                                
                            <div class="clearfix">
                                <button id="add_bt" class="btn btn-default"> 회원가입하기 </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
	</div> 

</body>
</html>
